@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color1: #1675A7;
    --color1: #66A89F;
    --color1: #1881B8;
    --color1: #92CC7E;
    --color1: #002132;
    --primary-font: "Poppins", sans-serif;
    --secondary-font: "Libre Franklin", sans-serif;
    --para-color: #2B2A29;

    --page-width: 160rem;

}


/* Spacing Style */



.page-width {
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 0 1.875rem;
}


@media only screen and (min-width:1600px) {
    .page-width {
        padding: 0 1.875rem;
    }
}

@media only screen and (max-width:1537px) {
    .page-width {
        padding: 0 1.875rem;
    }
}

@media only screen and (max-width:1440px) {
    .page-width {
        padding: 0 1.875rem;
    }
}

@media only screen and (max-width:999px) {
    .page-width {
        padding: 0 1.875rem;
    }
}

@media screen and (max-width: 768px) {
    .page-width {
        padding: 0 1rem;
    }
}


/* universal button */

.primary-btn {
    display: flex;
    align-items: center;
    /* gap: 17px; */
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    position: relative;

}

.primary-btn p {
    position: relative;
    right: -14px;
    z-index: 1;
    border-radius: 50px;
    color: #ffffff;
    font-family: var(--primary-font) !important;
    font-size: 24px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: var(--Title-Large-Line-Height, 28px) !important;
    padding: 21px 24px;
    text-transform: uppercase;
    background: linear-gradient(107deg, #2A5EA5 23.79%, rgba(42, 94, 165, 0.95) 50.01%, #063 76.22%);
    transition: all 0.3s ease-in-out;
}



.primary-btn .empty-box {
    height: 40px;
    width: 35px;
    background: linear-gradient(180deg, #016633 0%, #2A5EA5 100%);
    position: relative;
    z-index: 0;
}

.primary-btn .empty-box::after {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    top: -12px;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.primary-btn:hover .empty-box::after {
    content: '';
    position: absolute;
    height: 30px;
    width: 31px;
    background-color: #ffffff;
    top: -22px;
    left: 63%;
    transform: translate(-50%, 0);
    border-radius: 50%;
}


.primary-btn .empty-box::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.primary-btn:hover .empty-box::before {
    content: '';
    position: absolute;
    height: 30px;
    width: 31px;
    background-color: #ffffff;
    bottom: -22px;
    left: 63%;
    transform: translate(-50%, 0);
    border-radius: 50%;

}

.primary-btn:hover .arrow-box {
    right: 6px;
}

.primary-btn .arrow-box {
    position: relative;
    right: 14px;
    border-radius: 50px;
    padding: 22px 26px;
    background-image: #fff;
    transition: all 0.3s ease-in-out;
    flex-shrink: 0;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(107deg, #2A5EA5 23.79%, rgba(42, 94, 165, 0.95) 50.01%, #063 76.22%);
}



.primary-btn .button__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
}

.primary-btn:hover .button__icon-svg:first-child {
    transition: transform 0.3s ease-in-out;
    transform: translate(150%, -150%);
    transition: all 0.3s ease-in-out;
}

.primary-btn:hover .button__icon-svg--copy {
    transition: transform 0.3s ease-in-out 0.1s;
    transform: translate(0);
    transition: all 0.3s ease-in-out;
}




/* White button */


.primary-btn-white {
    display: flex;
    align-items: center;
    /* gap: 17px; */
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    position: relative;

}

.primary-btn-white p {
    position: relative;
    right: -14px;
    z-index: 1;
    border-radius: 50px;
    color: #000000;
    font-family: var(--primary-font) !important;
    font-size: 24px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: var(--Title-Large-Line-Height, 28px) !important;
    padding: 21px 24px;
    text-transform: uppercase;
    background: #fff;
    transition: all 0.3s ease-in-out;
}



.primary-btn-white .empty-box {
    height: 40px;
    width: 35px;
    background: #fff;
    position: relative;
    z-index: 0;
}

.primary-btn-white .empty-box::after {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #001F1A;
    top: -12px;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.primary-btn-white:hover .empty-box::after {
    content: '';
    position: absolute;
    height: 30px;
    width: 31px;
    background-color: #001F1A;
    top: -22px;
    left: 63%;
    transform: translate(-50%, 0);
    border-radius: 50%;
}


.primary-btn-white .empty-box::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #001F1A;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.primary-btn-white:hover .empty-box::before {
    content: '';
    position: absolute;
    height: 30px;
    width: 31px;
    background-color: #001F1A;
    bottom: -22px;
    left: 63%;
    transform: translate(-50%, 0);
    border-radius: 50%;

}

.primary-btn-white:hover .arrow-box {
    right: 6px;
}

.primary-btn-white .arrow-box {
    position: relative;
    right: 14px;
    border-radius: 50px;
    padding: 22px 26px;
    background-image: #fff;
    transition: all 0.3s ease-in-out;
    flex-shrink: 0;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    background: #fff;
}



.primary-btn-white .button__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
}

.primary-btn-white:hover .button__icon-svg:first-child {
    transition: transform 0.3s ease-in-out;
    transform: translate(150%, -150%);
    transition: all 0.3s ease-in-out;
}

.primary-btn-white:hover .button__icon-svg--copy {
    transition: transform 0.3s ease-in-out 0.1s;
    transform: translate(0);
    transition: all 0.3s ease-in-out;
}




/* Universal button end */

/* Header */

header {
    padding: 40px 0 0 0;
    overflow: hidden;
}

header .home-banner {
    width: 100%;
}

header .home-banner .content-box {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    min-height: 810px;
}


header .home-banner .content-box .gif-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 80px;
}

header .home-banner .content-box .banner-img {
    position: absolute;
    top: 0;
    left: 0;
}

header .home-banner .logo {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    max-width: 180px;
    height: auto;
}

header .home-banner .text-box-wrap .text-box:first-child {
    position: absolute;
    left: 20%;
    top: 20%;
    z-index: 1;
}

header .home-banner .text-box-wrap .text-box:first-child h1 {
    color: #F7FFEF;
    font-family: var(--primary-font);
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    width: 130vw;
}

header .home-banner .text-box-wrap .text-box:nth-child(2) {
    position: absolute;
    right: 20%;
    top: 40%;
    z-index: 1;
}

header .home-banner .text-box-wrap .text-box:nth-child(2) h1 {
    color: #F7FFEF;
    font-family: var(--primary-font);
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    width: 130vw;
}



header .home-banner .header-text {
    color: rgba(247, 255, 239, 0.85);
    font-family: var(--secondary-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    text-transform: lowercase;
    position: absolute;
    bottom: 200px;
    right: 100px;
    width: 300px;
}

header .home-banner .banner-pattern1 {
    position: absolute;
    left: 5%;
    top: 30%;

}

header .home-banner .banner-pattern2 {
    position: absolute;
    right: 5%;
    top: 10%;
}

/* Header end */

/* Mouse Animation */
.mouse-stalker {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate3d(50vw, 50vh, 0);
    z-index: 9999;
    pointer-events: none;
    transition: all 0.2s ease-out;
}

.mouse-stalker.mix-blend {
    mix-blend-mode: exclusion;
}

.mouse-stalker.mix-blend .mouse-stalker--circle {
    background: #fff;
}

.mouse-stalker.scale--large .mouse-stalker--circle {
    transform: scale(1.5);
    background: rgba(0, 0, 0, 0.5);
}

.mouse-stalker.scale--small .mouse-stalker--circle {
    transform: scale(0.2);
    margin: -20px -20px;

}


.mouse-stalker.show-text .mouse-stalker--text {
    opacity: 1;
    position: absolute;
    top: -50%;
    left: -25%;
    text-decoration: none;

}

.mouse-stalker.scale--large.show-text .mouse-stalker--circle {
    background: linear-gradient(180deg, rgba(5, 40, 66, 0.85) 0%, rgba(42, 94, 165, 1) 57%, rgba(123, 184, 133, 0.65) 100%);
}

.mouse-stalker--container {
    position: relative;
}

.mouse-stalker--circle {
    width: 100px;
    height: 100px;
    margin: -33px -9px -28px -30px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.05);
    opacity: 0;
    transition: all 0.2s ease-out;
}

.mouse-stalker--text {
    opacity: 0;
    transition: all 0.1s ease-out;
    color: #F7FFEF;
    text-align: center;
    font-family: var(--primary-font);
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    text-transform: uppercase;
}

.mouse-stalker.isActive.show .mouse-stalker--circle {
    opacity: 1;
}


.hover-effect {
    display: inline-block;
}

.hover-effect.scale--small,
.hover-effect.show-text {
    cursor: none;
}


.mouse-stalker.scale--small.show-text .mouse-stalker--text {
    opacity: 0;
}

/* Mouse Animation End */

/* Navbar */

.navbar-main {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    outline: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    z-index: 11111111111111111111;
    pointer-events: none;
    transition: top 0.8s ease;
}

.navbar-main.active {
    top: 0;
    pointer-events: auto;
}


.navbar-toggle {
    background-color: #fff;
    width: 60px;
    height: 70px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, 0);
    padding: 7px;
    transition: all 0.4s ease-in-out;
}


.navbar-toggle:hover {
    width: 269px;
    height: 70px;
    transition: all 0.4s ease-in-out;
}



.navbar-toggle .sub-box {
    display: flex;
    align-items: center;
    opacity: 0;
    transition: all 0.4s ease-in-out;

}

.navbar-toggle .sub-box:hover {
    opacity: 1;
    transition: all 0.4s ease-in-out;
}



.navbar-toggle .sub-box .link-box {
    background: #187EB4;
    padding: 13px 16px;
    border-radius: 50px;
}

.navbar-toggle .sub-box a {
    color: #FFF;
    font-family: var(--secondary-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}


.navbar-toggle .input-box {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    gap: 20px;

}

.navbar-main {
    padding: 2rem;
}

.navbar-main .content-box {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    min-height: 810px;
}

.navbar-main .content-box .gif-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 80px;

}

.navbar-main .content-box .banner-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.navbar-main .content-box .logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.navbar-main .link-tree {
    background-color: red;
    position: absolute;
    top: 20px;
    left: 2rem;
    height: 100%;
    width: 100%;
}

.navbar-main .link-tree .link-box {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}


/* Navbar end */

/* Unique Section */

.unique-section {
    overflow: hidden;
    padding: 0 0 100px 0;
    border-radius: 0 0 80px 80px;
    background-color: #fff;
    position: relative;
    bottom: -100px;
}

.unique-section .heading-box {
    border-bottom: 1px solid rgba(0, 33, 50, 0.50);
    padding: 30px 0;
}


.unique-section .heading-box h2 {
    color: var(--para-color);
    font-family: var(--secondary-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}

.unique-section .content-box {
    padding: 35px 0;
}


.unique-section .content-box h3 {
    color: #104386;
    font-family: var(--primary-font);
    font-size: 85px;
    font-style: normal;
    font-weight: 400;
    line-height: 95px;
    /* 111.765% */
    letter-spacing: -0.85px;
    text-transform: capitalize;
    width: 70%;

}


.unique-section .content-box h3 span {
    background: linear-gradient(92deg, rgba(16, 67, 134, 0.85) 57%, rgba(16, 67, 134, 0.74) 80%, rgba(16, 67, 134, 0.65) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.unique-section .content-box .wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    padding: 50px 0 0 0;
}

.unique-section .content-box .wrap .box:first-child {
    display: flex;
    align-items: end;
}



.unique-section .content-box .wrap .box p {
    font-family: var(--secondary-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.unique-section .content-box .wrap .box p span {
    font-weight: 600;
}

/* Unique Section end */

/* Who We are Section */

.who-we {
    border-radius: 0 0 80px 80px;
    background-image: url('../images/home/who-we-bg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 213px 0 100px;
}

.who-we .content-box {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 100px;

}

.who-we .content-box .left {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 85px;
    width: 74%;
}

.who-we .content-box .left .box p {
    color: rgba(252, 255, 249, 0.85);
    font-family: var(--secondary-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    /* 150% */
}

.who-we .content-box .left .box h3 {
    color: rgba(252, 255, 249, 0.95);
    font-family: var(--primary-font);
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    line-height: 89px;
    /* 111.25% */
    letter-spacing: -0.8px;
    text-transform: capitalize;
    background: linear-gradient(180deg, rgba(252, 255, 249, 0.85), rgba(252, 255, 249, 0.75), rgba(252, 255, 249, 0.50));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.who-we .slider-box {
    position: relative;
    width: 70%;
    margin-left: auto;
    padding: 80px 0 0 0;
}


.who-we .swiper-slide {
    text-align: center;
    font-size: 18px;
    border-radius: 25px;
}

.who-we .swiper-slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.who-we .swiper-button-next:after {
    display: none;
}


.who-we .swiper-button-next {
    bottom: -55px;
    top: auto;
    right: 0;
}

/* Who We are Section end*/

/* Feature Section */

.feature-section {
    position: relative;
    overflow: hidden;
    margin: 150px 0 0 0;

}


.feature-section .heading-box {
    position: absolute;
    top: 0%;
    width: 80%;
    left: 50%;
    transform: translate(-50%, 0%);
}



.feature-section .heading-box h2 {
    color: #144486;
    text-align: center;
    font-family: var(--primary-font);
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 95px;
    /* 118.75% */
    letter-spacing: -0.8px;
}

.feature-section .heading-box h2 span {
    background: linear-gradient(92deg, rgba(16, 67, 134, 0.85) 57%, rgba(16, 67, 134, 0.74) 80%, rgba(16, 67, 134, 0.65) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #104386;
}

.feature-section .content-box {
    position: relative;
    width: 80rem;
    margin: auto;
    height: 100vh;

    display: flex;
    align-items: center;
}


.feature-section .content-box .box {
    position: absolute;
    right: 0;
    bottom: 0;

    transition: transform 0.3s ease;
    background-image: url(../images/home/feature-item-bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 55%;
    border-radius: 75px;
    padding: 124px 34px;
    padding: 37px 27px;
    /* filter: blur(8px); */
    transform: scale(0.5);
    opacity: 1;
    transition: filter 0.3s ease;


}

.feature-section .content-box .box .left {
    position: relative;
}

.feature-section .content-box .box .left {
    position: relative;
}

.feature-section .content-box .box .left .bg-text {
    color: rgba(252, 255, 249, 0.08);
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: var(--primary-font);
    font-size: 258.6px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -2.586px;
    text-transform: uppercase;
    line-height: 1;
}

.feature-section .content-box .box .left h3 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    color: rgba(252, 255, 249, 0.90);
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: var(--primary-font);
    font-size: 183.175px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -1.832px;
}


.feature-section .content-box .box .right {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.feature-section .content-box .box .right h4 {
    color: rgba(252, 255, 249, 0.90);
    leading-trim: both;
    text-edge: cap;
    font-family: var(--primary-font);
    font-size: 86.2px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.862px;
    text-transform: uppercase;
}

.feature-section .content-box .box .right p {
    color: rgba(252, 255, 249, 0.85);
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: var(--secondary-font);
    font-size: 43.1px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.431px;
    text-align: start;
}



/* Feature Section end */

/* services */

.services .heading-box {
    background-image: url(../images/home/service-heading-bg.webp);
    background-position: center;
    background-repeat: no-repeat;
}

.services .heading-box h2 {
    color: #2B2A29;
    font-family: var(--primary-font);
    font-size: 150px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
}

.services .content-box .heading-para {
    color: #144486;
    font-family: var(--primary-font);
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 92px;
    width: 80%;
    letter-spacing: -0.8px;
    text-transform: capitalize;
}

.services .wrap {
    display: flex;
    align-items: center;
    gap: 27px;
    padding: 65px 0 0 0;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;

    /* scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    cursor: grab; */
}

.services .wrap::-webkit-scrollbar {
    display: none;
}





.services .wrap .item {
    flex: 0 0 calc(25% - 20px);
    transition: all 0.8s ease, transform 0.3s ease;
    scroll-snap-align: start;
    position: relative;
    height: 295px;
}

.services .wrap .item:hover {
    flex: 0 0 calc(45% - 20px);
    z-index: 10;
    transition: all 0.8s ease, transform 0.3s ease;
}

.services .wrap .item .bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 35px;
}


.services .wrap .item:hover h3.not-hoverd {
    opacity: 0;
    transition: all 0.8s ease, transform 0.3s ease;
}

.services .wrap .item:hover p.not-hoverd {
    opacity: 0;
    transition: all 0.8s ease, transform 0.3s ease;
}


.services .wrap .item:hover svg.not-hoverd {
    opacity: 0;
    transition: all 0.8s ease, transform 0.3s ease;
}


.services .wrap .item:hover .number-circle {
    opacity: 0;
}

.services .wrap .item:hover:nth-child(odd) .service-blob {
    right: -100%;
    bottom: -100%;
}

.services .wrap .item:hover:nth-child(even) .service-blob {
    right: -100%;
    top: -100%;
}


.services .wrap .item .hover-text-box svg {
    grid-column: 1/2;
    grid-row: 1/2;
    position: static;


}

.services .wrap .item .hover-text-box h3 {
    grid-column: 2/3;
    grid-row: 1/2;
    color: #FCFFF9;
    font-family: var(--primary-font);
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 33px;
    place-content: center;
    text-transform: uppercase;


}

.services .wrap .item .hover-text-box p {
    grid-column: 1/8;
    grid-row: 2/3;
    color: rgba(247, 255, 239, 0.95);
    font-family: var(--secondary-font);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    text-transform: none;

}

.services .wrap .item:hover .hover-text-box {
    opacity: 1;
    gap: 20px 32px;

}


.services .wrap .item .hover-text-box {
    display: grid;
    position: absolute;
    top: 0;
    left: auto;
    width: 100%;
    height: 100%;
    opacity: 0;
    padding: 30px;
    transition: all 1.5s ease, transform 0.8s ease;
}

.services .wrap .item:nth-child(odd) .service-blob {
    position: absolute;
    right: -1px;
    bottom: -2px;
    max-width: 100%;
    height: auto;
}

.services .wrap .item:nth-child(even) .service-blob {
    position: absolute;
    right: -1px;
    top: -4px;
    max-width: 100%;
    height: auto;
    transform: rotate(270deg);
}


.services .wrap .item:nth-child(odd) .number-circle {
    background-image: url(../images/home/number-circle.webp);
    border-radius: 50%;
    padding: 33px 40px;
    color: #FCFFF9;
    font-family: var(--secondary-font);
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: -16px;
    bottom: 0px;
    z-index: 1;
    background-size: cover;
    width: fit-content;
}

.services .wrap .item:nth-child(even) .number-circle {
    background-image: url(../images/home/number-circle.webp);
    border-radius: 50%;
    padding: 33px 40px;
    color: #FCFFF9;
    font-family: var(--secondary-font);
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: -7px;
    top: -13px;
    z-index: 1;
    background-size: cover;
    width: fit-content;
}


.services .wrap .item:nth-child(odd) .text-box {
    position: absolute;
    top: 20px;
    left: 20px;
}

.services .wrap .item:nth-child(even) .text-box {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.services .wrap .item h3 {
    color: #FCFFF9;
    font-family: var(--primary-font);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 46px;
    text-transform: uppercase;
}

.services .wrap .item p {
    color: #FCFFF9;
    font-family: var(--primary-font);
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 33px;
    /* 150% */
    text-transform: uppercase;
}

/* .services .wrap .item:nth-child(odd) svg {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.services .wrap .item:hover:nth-child(even) svg {
    position: absolute;
    top: 0px;
    left: 20px;
}

.services .wrap .item:hover:nth-child(odd) svg {
    position: absolute;
    bottom: auto;
    left: auto;
} 

.services .wrap .item:nth-child(even) svg {
    position: absolute;
    top: auto;
    left: auto;
}*/



/* services end */

/* flow */
.flow {
    padding: 0px 0 79px 0;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 85px 85px;
    overflow: hidden;
    position: relative;
    bottom: -100px;

}

.flow .heading-box {
    border-bottom: 1px solid rgba(0, 33, 50, 0.50);
    padding: 0 0 30px 0;
}

.flow .heading-box h2 {
    color: #2B2A29;
    font-family: var(--secondary-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 133.333% */
    text-transform: uppercase;
}

.flow .content-box {
    padding: 83px 0 130px 0;
    position: relative;
    bottom: -100px;
    z-index: 11;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 85px 85px;

}

.flow .content-box .wrap {
    min-height: 700px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.flow .content-box .wrap .text-box {
    width: 31%;
    margin: auto;
    text-align: center;
    padding: 0 0 30px 0;
}



.flow .content-box .wrap img:first-child {
    max-width: 100%;
    height: auto;
    position: absolute;
    left: -100px;
    top: 50%;
    transform: translate(0, -50%) rotate(-5deg);
}

.flow .content-box .wrap img:nth-child(2) {
    max-width: 100%;
    height: auto;
    position: absolute;
    right: -100px;
    top: 50%;
    transform: translate(0, -50%) rotate(5deg);
}


.flow .content-box .wrap p span {
    color: rgba(43, 42, 41, 0.75);
    font-family: var(--secondary-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
}

.flow .content-box .wrap p span:first-child {
    border-right: 1px solid rgba(43, 42, 41, 0.50);
    padding: 0 30px 0 0;
}

.flow .content-box .wrap p span:nth-child(2) {
    padding: 0 0 0 30px;
}

.flow .content-box .wrap h3 {
    color: rgba(20, 68, 134, 0.90);
    text-align: center;
    font-family: var(--primary-font);
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    padding: 80px 0 50px 0;
}

.flow .content-box .wrap a {
    padding: 20px 30px;
    border-radius: 45px;
    border: 1px solid rgba(0, 33, 50, 0.50);
    color: rgba(43, 42, 41, 0.75);
    font-family: var(--primary-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
}

.flow .swiper-button-next:after {
    display: none;
}


.flow .custom-next {
    position: absolute;
    right: 50px;
    bottom: 200px;
    top: auto;
    left: auto;
}

/* flow end */

/* Footer */

footer {
    background-image: url('../images/general/footer-bg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    bottom: 0;

    padding: 200px 0 0 0;
}

footer .heading-box {
    position: relative;
}

footer .heading-box img {
    max-width: 100%;
    height: auto;
}

footer .heading-box h2 {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate(0, -50%);

    color: #FCFFF9;
    font-family: var(--primary-font);
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 55px;
    /* 122.222% */
    text-transform: capitalize;
    width: 56%;
}

footer .heading-box a {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
}

footer .img-box {
    text-align: center;
    position: relative;
}

footer .img-box img {
    max-width: 100%;
    height: auto;
}

footer .img-box .footer-typo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

footer .copy-right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px 0 60px 0;
    border-top: 1px solid rgba(252, 255, 249, 0.50);
}

footer .copy-right .left {
    display: flex;
    align-items: center;
    gap: 24px;
}

footer .copy-right .mid {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 30px;
    white-space: nowrap;
}

footer .copy-right .mid a {
    color: #FCFFF9;
    font-family: var(--primary-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 133.333% */
    text-decoration: none;
}

footer .copy-right .right {
    text-align: end;
}

footer .copy-right .right p {
    color: rgba(252, 255, 249, 0.85);
    font-family: var(--primary-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

/* Footer end */